.container {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.token {
  position: absolute;
}

.rock {
  position: absolute;
  top: -60px;
  left: -60px;
}

.img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .img {
    width: 275px;
  }
}

@media screen and (max-width: 400px) {
  .img {
    width: 200px;
  }
}
